<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="active_portal" type="enum" label="30001" values="1|2|3|4|5" default="0" />
    <setting id="sep1" type="lsep" label="30002" />
    <setting id="connection_timeout" type="enum" label="30003" values="0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|100|105|110|115|120" default="1" />
  </category>
  <category label="31000">
    <setting id="mac_0" type="text" label="30101" default="00:1a:79:40:27:04" />
    <setting id="server_0" type="text" label="30102" default="http://ozi.pt:8080/c/ " />
    <setting id="time_zone_0" type="text" label="30103" default="" />
    <setting id="sep1_0" type="lsep" label="30104" />
    <setting id="login_0" type="text" label="30105" default="" />
    <setting id="password_0" type="text" option="hidden" label="30106" default="" />
    <setting id="sep2_0" type="lsep" label="30107" />
    <setting id="guide_preference_0" type="enum" label="30108" lvalues="30109|30110|30111|30112" default="0" />
    <setting id="guide_cache_0" type="bool" label="30113" default="false" />
    <setting id="guide_cache_hours_0" type="number" label="30114" default="24" />
    <setting id="sep3_0" type="lsep" label="30115" />
    <setting id="xmltv_scope_0" type="enum" label="30116" lvalues="30117|30118" default="0" />
    <setting id="xmltv_url_0" type="text" label="30117" default="" visible="eq(-1,0)" />
    <setting id="xmltv_path_0" type="file" label="30118" default="" visible="eq(-2,1)" />
    <setting id="sep4_0" type="lsep" label="30119" />
    <setting id="token_0" type="text" label="30120" default="" />
    <setting id="serial_number_0" type="text" label="30121" default="" />
    <setting id="device_id_0" type="text" label="30122" default="" />
    <setting id="device_id2_0" type="text" label="30123" default="" />
    <setting id="signature_0" type="text" label="30124" default="" />
  </category>
</settings>
